nav {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  margin-bottom: 25px;
  padding: 0 3vw;
  background: #222;
  height: 5rem;

  img {
    max-height: 3rem;
  }
}

.nav-item {
  color: white;
  transition: color 0.5s ease;
}

.nav-item:hover {
  color: grey;
}
