<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <h2>Create A Survey</h2>
    
    <label>Survey Title</label>
    <input type="text" [(ngModel)]="survey_title" placeholder="Provide title of survey">
    <br>

    <label>Description</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="survey_description" placeholder="Internal description of survey"></textarea>
    <br>

    <label>Company Logo</label>
    <img class="upload_img" src="./assets/images/upload_img.png" alt="">
    <br>

    <hr>
    <h2>Audience Definition</h2>

    <label>Locations</label>
    <input  type="text" [(ngModel)]="audience_location" placeholder="Eg. Toronto & New York">
    <br>

    <label>Age Range</label>
    <input type="text" [(ngModel)]="age_range" placeholder="Eg. 18-30">
    <br>

    <label>Gender</label>
    <select name="" id="">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="both">Male & Female</option>
    </select>
    <br>

    <label>Languages</label>
    <input type="text" [(ngModel)]="languages" placeholder="Eg. English">
    <br>

    <label>Demographics</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="demographics" placeholder="Education, marital status, life events, etc."></textarea>
    <br>

    <label>Interests</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="interests" placeholder="Business, Entertainment, Family, Fitness... etc."></textarea>
    <br>

    <button class="btn submit" (click)="submitAd()">Submit</button>

  </div>
</div>