header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

div.side-options {
    position: absolute;
    top: 15px;
    left: 15px;
    float: left;
    max-width: 100px;
    margin: 0;
}

div.primarycontent_content {
    margin-left: 100px;
    overflow: hidden;
}

section {
    margin-left: 90px;
    padding: 1em;
    overflow: hidden;
}

    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }