{
  "type": "",
  "project_d": "",
  "private_key_i": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "",
  "token_ui": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": ""
}
