.question {
    background-color: #4c3f5e;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 5px;

    h3 {
        color: white;
        font-size: 19px;
    }

    p {
        color: white;
    }
}

.question:hover {
    background-color: #896eb3;
}

.preloader {
    padding-bottom: 3em;

    .preload {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 30px;
        margin: -42px 0 0 -12px;
        margin-top: 1em;
        background: #6f4392;
        transform: rotate(45deg);
        animation: spin 1s infinite linear;
      }
      @keyframes spin {
          0% { -webkit-transform:rotate(0deg); }
          100% { -webkit-transform:rotate(360deg); }
      }
}








.question_modal {
    .question_label {
        margin-bottom: 3px;
    }

    .question_text {
        font-style: italic;
        font-size: 20px;
    }

    .qr {
        width: 80%;
        margin: auto;
        background: #3f3f41;
        padding: 10px 0px;
        margin-bottom: 10px;
        border-radius: 4px;

        .qr_text {
            font-size: 20px;
            margin-bottom: 5px !important;
        }

        .qr_img_label {
            margin-bottom: 1px;
        }

        img {
            max-width: 100px;
        }
    }
}




/* START: MODAL */
.modal-bg {
    background-size: cover;
    top: 12px;
    position: fixed;
    left: 12px;
    z-index: 1002;
    width: 100%;
    height: 100%;
    background: rgba(79,81,82, 0.65);
    color: white;
    overflow-y: scroll;
}

.modal-main {
    width: 50%;
    margin: auto;
    background: #6d6969;
    padding: 30px;
    border-radius: 5px;
    margin-top: 7%;

    * {
        color: white;
    }

    .button {
        color: black;
    }

}

.modal_close {
    display: block;
    margin-left: auto;
    padding: 5px 10px;
    line-height: 1;
    background-color: initial;
    transition: background-color 0.3s ease;
    border: #bbbaba solid 1.3px;
    border-radius: 4px;
}
.modal_close:hover {
    background-color: grey;
}
/* END: MODAL */