<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <h2>Attract Participants</h2>

    <label>Welcome Message</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="welcome_msg" placeholder="First message participant will see..."></textarea>
    <br>

    <label>Images</label>
    <img class="upload_img" src="./assets/images/upload_img.png" alt="">
    <br>

    <label>Ad Headline</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="ad_headline" placeholder="Ad headline..."></textarea>
    <br>

    <label>Ad Text</label>
    <textarea name="" id="" cols="100" rows="5" [(ngModel)]="ad_text" placeholder="Ad text..."></textarea>
    <br>

    <h2>Attract Participants</h2>

    <label>Max Survey Budget</label>
    <input type="text" [(ngModel)]="max_survey_budget" placeholder="e.g. $,1000.00">
    <br>

    <button class="btn submit" (click)="submitAd()">Submit</button>
  </div>
</div>