.jumbo {
    margin-bottom: 5em;
}

.login_headings {
    margin-top: 5em;
    margin-bottom: 4em;
}

.label {
    text-align: center;
    font-weight: 100;
    margin-top: 1.2em;
    margin-bottom: 0px !important;
    font-size: 14px;
}

input {
    // margin-bottom: 1.2em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.submit_btn {
    margin: auto;
    display: block;
    padding-left: 2em;
    padding-right: 2em;

    margin-top: 1.5em;
}

.help {
    text-align: center;
}