<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    
    <!-- Survey Name, description -->
    <h2>New Survey</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Survey Title</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="">Upload Company Logo</label>
          <input type="file">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>

    <!-- Audience Definition -->
    <h2>Audience Definition</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Locations</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="">Age Range</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Gender</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="">Languages</label>
          <input type="text" class="form-control" [(ngModel)]="external_resto_name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>

  </div>
</div>